# Rust
rust/target/
**/*.rs.bk

# Flutter
flutter/.dart_tool/
flutter/.packages
flutter/.pub-cache/
flutter/.pub/
flutter/build/
flutter/.flutter-plugins
flutter/.flutter-plugins-dependencies
flutter/*.iml
flutter/.metadata
flutter/pubspec.lock

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# interactions.work
.personal/
